DEPLOYER_PK=0xYOUR_PRIVATE_KEY
RELAYER_ADDRESS=0xYOUR_RELAYER_HOT_WALLET
FEE_RECIPIENT=0xYOUR_FEE_MULTISIG
FEE_BPS=10
BRIDGE_CHAIN_ID=11155111

RPC_MAINNET=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
RPC_SEPOLIA=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
RPC_POLYGON=https://polygon-mainnet.g.alchemy.com/v2/YOUR_KEY
RPC_ARBITRUM=https://arb-mainnet.g.alchemy.com/v2/YOUR_KEY

ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
